# Uygulama
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=teamflow
DB_USER=postgres
DB_PASSWORD=1

# JWT — Access Token (kısa ömürlü)
JWT_SECRET=a712643ab8eaf571fa65f10710351ff49ecd5b9e63b5395cefa3307ed386e74f
JWT_EXPIRES_IN=15m

# JWT — Refresh Token (uzun ömürlü)
REFRESH_SECRET=165d5f9b562c9742e808cacf6fe7aa95187fd4756b6b5986f04a55c83fe49aa1
REFRESH_EXPIRES_IN=7d
